body {
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
}

label {
    color:#346eb9;;
    font-weight: 900;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: 1px solid #346eb9;
    margin-bottom: 4px;
}

button {
    background-color: #346eb9;
    color: white;
    border: 1px solid #346eb9;
    padding: 10px 20px;
}

#delete-btn{
    background-color: white;
    color: #346eb9;
    font-weight: bold;
}

button:active{
    background-color:rgb(64, 92, 216);
}

ul {
    color: #346eb9;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin-top: 5px;

}
    

a {
    color: #346eb9;
}